body {
    background: #333;
    color: #000;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
}

#cougar {
  background: #FFD5AE ;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
}

#tiger {
  background: #FFBD82;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
}

#lion {
  background: #B26219;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
}

article {
  width: 40%;
  float: right;
  padding: 20px;
  margin: 60px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

div {
  width: 40%;
  float: left;
  padding: 30px;
  margin: 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width:100%;
  position: fixed;
  background: #333;
}

h2, section > p {
  margin: 50px auto;
}

img {
  display: block;
  margin: auto;
    }

footer {
  clear: both;
  text-align: center;
  padding: 20px;
    }

h1 {
      margin: 0;
    }


/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue

   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

.clearfix {
  clear: both;
}

a { color: #379CB2; }
a:hover { color: #82E8FF; }

nav {
  float: right;
  }
nav ul {
  list-style: none;
  margin-top: 0;
}
nav li {
  float: left;
  margin-left: 20px;
}
